
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Logochain</title>
  <meta name="description" content="Buy and Sell Logos on the Blockchain.">
  <meta name="Logochain" content="Marketplace">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


  <script type="text/javascript" language="javascript" src="/javascripts/clientAccount.js" defer></script>

  <script type="text/javascript" language="javascript" src="/javascripts/main.js" defer></script>

  <link href="/dropzone/downloads/css/dropzone.css" rel="stylesheet">
  <script src="/dropzone/downloads/dropzone.js"></script>

</head>
